
    <div class="header">
      <a href="#">Blog Demo</a>
    </div>
    
    <div class="thorax-container thorax-wrapper">
      <div class="thorax-primary">
        {{layout-element}}
      </div>
    
      <div id="sidebar" class="thorax-secondary">
    
      </div>
    </div>
    
    <div class="thorax-footer">
      <ul>
        <li><a href="credits">Some credits</a></li>
      </ul>
    </div>
